.allForm{
    width: 20rem;
    max-height: 35rem;
    padding: 5px;
    margin: 75px auto;
    background-color: azure;
}
.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form input{
    margin: 5px;
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 16px;
}
.form h3{
    padding: 11px;
}
.form .buttons .icon{
    font-size: 20px;
}
.form .buttons button{
    margin: 6px;
    padding: 8px;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}